
.row {
    border-radius: 5em;
    color: white;

    box-shadow: black 2em 2em;

    margin: 4rem;
    padding: 2rem;
}

p {
    font-size: 1rem;
}

/* .row:hover {
    box-shadow: 4em 3em;
    color: black;
} */

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
